
{% extends "base.html" %}
{% load static %}

{% block content %}
 
 <aside style='height: 450px;' class="fixed top-100 overflow-y-auto left-0 bg-white w-64 m-8" aria-label="Sidebar">
    <div class="h-full px-3 py-4 overflow-y-auto bg-gray-50 dark:bg-gray-800">
       <ul class="space-y-2 font-medium">
          {% for cate in category %}
          <li>
            <a href="{% url "category_slug" cate.slug %}" class="flex items-center p-2 text-gray-900 rounded-lg dark:text-white hover:bg-gray-200 dark:hover:bg-gray-700 group">
               <span class="ms-3">{{ cate.name }}</span>
            </a>
         </li>
          {% endfor %}
       </ul>
    </div>
 </aside>
 
 <div style="margin-left: 18rem;" class="p-4">
    <div class="p-4 dark:border-gray-700">
       <div class="grid grid-cols-2 gap-4 mb-4">
          {% for book in data %}
            <a href="{% url "book_details" book.id %}" class="flex flex-col items-center bg-white p-4 border border-gray-200 shadow md:flex-row md:max-w-xl hover:bg-gray-100 dark:border-gray-700 dark:bg-gray-800 dark:hover:bg-gray-700">
                <img class="object-cover w-48 h-48" src="{{book.image.url}}" alt="">
                <div class="flex flex-col pl-4 justify-between leading-normal">
                    <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">{{ book.title }}</h5>
                    <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">{{ book.description | truncatewords:20 }}</p>
                    <h5 class="mb-2 text-2xl font-semibold tracking-tight text-gray-900 dark:text-white">Borrowing Price: ${{ book.borrowing_price }}</h5>
                    <div>
                        {% for category in book.category.all %}
                        <button type="button" class="text-gray-600 bg-gray-300 dark:bg-gray-500 font-medium rounded-lg text-sm px-3 py-2.5 text-center" disabled>{{category.name}}</button>
                  {% endfor %}
                        
                    </div>
                </div>
            </a>
          {% endfor %}
       </div>
    </div>
 </div>
 


{% endblock content %}
